ul li {
  list-style: none;
}
.now {
  background-color: pink;
  color: #fff;
}
header .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
header .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
header .navbar-inverse .navbar-nav > li > a:hover {
  color: #09d;
}
header .navbar-inverse .navbar-brand {
  color: #fff;
  padding: 12px 12px;
}
#mydiv .navbar {
  border-radius: 0px;
  font-size: 16px;
}
#mydiv .navbar-brand {
  padding: 14px 15px;
}
#mydiv .navbar-nav > li > a {
  line-height: 40px;
}
#mydiv .navbar-nav > li > a:hover {
  color: #09d;
}
.collapse {
  display: block;
  visibility: visible;
}
header .navbar-inverse .navbar-nav > li:nth-child(4) > a {
  color: #09d;
  font-weight: bold;
}
.loan_person {
  margin-left: 75px;
}
.loan_person .panel-body {
  margin-left: 10px;
}
.loan_person .panel-body p:nth-child(1) {
  margin-left: 10%;
}
.loan_person .panel-body p:nth-child(2) {
  margin-left: 45%;
  margin-top: -8px;
}
.loan_person .panel-body p > span {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 20px;
  background-color: #5cb85c;
  line-height: 20px;
  text-align: center;
}
.loan_person .zs_loan {
  margin-top: -20px;
}
.loan_person .zs_loan > h2 {
  font-weight: bold;
  color: #09d;
}
.loan_person .zs_loan > h2 > small {
  display: inline-block;
  background-color: #337ab7;
  color: #fff;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.loan_person .zs_loan > p {
  font-size: 16px;
}
.loan_person .zs_loan > p > span {
  color: #09d;
}
.loan_person .progress_loan > p {
  font-size: 16px;
}
.loan_person .progress_loan > p > span {
  color: #09d;
}
.person_msg table tr td {
  width: 210px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
}
.person_msg table tr td span {
  color: #09d;
}
.check_msg table tr td {
  width: 246px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
}
.check_msg table tr td span {
  color: #09d;
}
.payments {
  font-size: 16px;
  font-weight: bold;
}
.payments tbody {
  color: #777;
}
.record_msg {
  font-size: 16px;
}
.record_msg tbody tr td:nth-child(3) {
  color: #09d;
}
@media only screen and (max-width: 1061px) {
  .loan_person {
    width: 92%;
  }
}
@media only screen and (max-width: 991px) {
  .person_msg table tr td {
    font-size: 16px;
  }
  .check_msg table tr td {
    font-size: 16px;
  }
}
@media only screen and (max-width: 948px) {
  .loan_person {
    width: 90%;
  }
}
@media only screen and (max-width: 881px) {
  .loan_person .panel-body p:nth-child(3) {
    display: none;
  }
  .loan_person .panel-body p:nth-child(4) {
    display: none;
  }
  .loan_person .panel-body p:nth-child(5) {
    display: none;
  }
}
@media only screen and (max-width: 801px) {
  .loan_person .panel-body p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 762px) {
  .loan_person {
    width: 88%;
  }
}
@media only screen and (max-width: 711px) {
  .person_msg table tr td {
    font-size: 14px;
  }
  .check_msg table tr td {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .loan_person {
    width: 83%;
  }
  .loan_person div:nth-child(1) {
    display: none;
  }
  .person_msg table tr td:nth-child(1) {
    display: none;
  }
  .check_msg table tr td:nth-child(1) {
    display: none;
  }
  .payments .panel-body thead th:nth-child(2) {
    display: none;
  }
  .payments .panel-body thead th:nth-child(3) {
    display: none;
  }
  .payments .panel-body tbody td:nth-child(2) {
    display: none;
  }
  .payments .panel-body tbody td:nth-child(3) {
    display: none;
  }
  .record_msg .panel-body thead th:nth-child(4) {
    display: none;
  }
  .record_msg .panel-body tbody td:nth-child(4) {
    display: none;
  }
}
.footer {
  background-color: #f8f8f8;
  padding: 46px 0;
}
