ul li {
  list-style: none;
}
.now {
  background-color: pink;
  color: #fff;
}
header .navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
header .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
header .navbar-inverse .navbar-nav > li > a:hover {
  color: #09d;
}
header .navbar-inverse .navbar-brand {
  color: #fff;
  padding: 12px 12px;
}
#mydiv .navbar {
  border-radius: 0px;
  font-size: 16px;
}
#mydiv .navbar-brand {
  padding: 14px 15px;
}
#mydiv .navbar-nav > li > a {
  line-height: 40px;
}
#mydiv .navbar-nav > li > a:hover {
  color: #09d;
}
.collapse {
  display: block;
  visibility: visible;
}
.invest_list > h3 {
  font-size: 18px;
  color: #000;
}
.invest_list > p > span {
  color: #777;
  font-size: 12px;
}
.invest_list .table {
  margin-bottom: 50px;
}
.invest_list .table thead th {
  color: #999999;
  font-size: 20px;
}
.invest_list .table tbody td {
  font-size: 16px;
}
@media only screen and (max-width: 690px) {
  .table thead th:nth-child(3) {
    display: none;
  }
  .table thead th:nth-child(4) {
    display: none;
  }
  .table thead th:nth-child(6) {
    display: none;
  }
  .table tbody td:nth-child(3) {
    display: none;
  }
  .table tbody td:nth-child(4) {
    display: none;
  }
  .table tbody td:nth-child(6) {
    display: none;
  }
}
.footer {
  background-color: #f8f8f8;
  padding: 46px 0;
}
