/* 头部样式 */
header nav.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
header .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
header .navbar-inverse .navbar-nav > li:hover a {
  color: #00a7ff;
  text-decoration: underline;
}
header .navbar-inverse .navbar-brand {
  color: #fff;
  padding: 15px 0px;
}
header .navbar-inverse .navbar-brand i {
  font-size: 24px;
}
/* 导航样式 */
div.bignav .navbar {
  margin-bottom: 0px;
}
div.bignav .navbar .navbar-nav > li > a {
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  font-size: 16px;
  min-height: 80px;
  line-height: 80px;
}
div.bignav .navbar .navbar-nav > li:hover a {
  color: #00a7ff;
  background-color: #e6e3e366;
}
div.bignav .navbar .navbar-header {
  padding-top: 10px;
}
div.bignav .navbar .collapse {
  display: block;
}
/* 个人中心系列 */
.user .panel-heading .panel-title > a {
  color: #337ab7;
}
.user .panel-body {
  padding: 0px;
}
.user .panel-body p {
  margin-left: 30px;
}
.user .list-group p {
  margin-left: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 35px;
  line-height: 35px;
}
.user .list-group p a {
  margin-left: 30px;
}
.user .list-group p.active {
  background-color: #337ab7;
}
.user .list-group p.active a {
  color: #fff;
}
#showhide {
  display: none;
}
html,
body {
  overflow-x: hidden;
}
/*个人中心系列响应式菜单*/
@media screen and (max-width: 768px) {
  #mainMenu {
    position: relative;
    height: 1000px;
    left: 0px;
  }
  #mainMenu .sideLeft {
    position: absolute;
    top: 0;
    left: -116px;
    transition: all 0.35s linear;
  }
  #mainMenu .sideLeft.active {
    position: absolute;
    top: 0;
    left: -15px;
    transition: all 0.35s linear;
  }
  #mainMenu .sideRight.active {
    position: absolute;
    top: 0;
    left: 100px;
    transition: all 0.35s linear;
  }
  #mainMenu .sideRight {
    position: absolute;
    top: 0;
    left: 1px;
    transition: all 0.35s linear;
  }
  #mainMenu .sideRight #showhide {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px ;
  }
}
.form-group .itemImg {
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid #2e8ece;
}
.form-group .itemImg:first-child {
  margin-left: 30px;
}
/* 底部 */
footer {
  padding-top: 20px;
  margin-top: 40px;
  background-color: #F8F8F8;
}
